* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-family: 'Lexend';
    font-weight: 200;
    text-align: center;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    
}

body {
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6, p{
    color: white;
    margin: 50px 100px;
    
}

img {
    pointer-events: none;
    user-select: none;
}



.imagen_banner {
    width: min(50em, 100vw);
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    

    /* Mueve la imagen hacia abajo 100px tras 1s */
    animation: inicial ease 1s forwards;
    
}

#banner_1 {
    background-image: linear-gradient(to top, #000000, #0a2631 70%);
    min-width: fit-content;
    max-width: 100%;
}

h3 {
    font-size: 3em;
    
}

.titulo {
    opacity: 0;
    animation: inicial ease 1s forwards;
    animation-delay: 0.3s;
}

strong {
    font-weight: 500;
}

@keyframes inicial {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.button1 {
    background-color: rgb(255, 117, 25);
    font-size: 3em;
    padding: 40px 40px;
    user-select: none;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid #000000;
    box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.5), inset 0 -3px 0 rgba(0,0,0,0.5);


    animation: inicial ease 1s forwards;
    animation-delay: 0.6s;
    opacity: 0;
}

.button1:hover {
    background-color: rgb(20, 147, 220);
    font-size: 3.2em;
}

.divbutton1 {
    margin: 100px 20px;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    animation: inicial ease 1s forwards;
    animation-delay: 0.6s;
    opacity: 0;
}